header {
    display:none;
}



.container{
    background:rgba(255,255,255);
    display:inline-block;
    padding:25px 35px 35px 35px;
}

body {
    padding:0;
    margin:0;
    border:0;
    vertical-align: baseline;
}

h1, p {
  font-family: 'lato', sans-serif;
  color:white;
  font-weight: 200;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: inline-block;
  background-color: #FAFAFA;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Open Sans", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 26px;
  color:white;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color:red;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
  
}
section.module.parallax h1, p {
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  
}
section.module.parallax-1 {
  background:  url("../img/test1.JPG");
  text-align:center;
  height: 350px;
  background-size:no-repeat;

}

section.module.parallax-2 {
  background-image: url("../img/pattern2.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 18px;
  }  
  section.module.parallax h1 {
    font-size: 42px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 68px;
  }
}

header.container
{
  font-family: Raleway;
  margin: 0 auto;
	text-align: center;
  width:100%;
  height: 20px;
  position:fixed;
}

header a {
    color: white;;

    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-family: 'Paytone One', sans-serif;
}

header.borderXwidth a:before, header.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: white;
    transition: all 0.3s;
}

header.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

header.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

header.borderXwidth a:hover:before, header.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}


#typewriter {
overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



.demo a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section04 a {
  padding-top: 70px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.ldBar{
  width:100%;
  height: 60px;

}


.ldBar{position:relative;}.ldBar.label-center > .ldBar-label{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-shadow:0 0 3px #fff}.ldBar-label:after{content:"%";display:inline}.ldBar.no-percent .ldBar-label:after{content:""}
